<h2>Change Password</h2>

<form method="post">

    <div class="mb-3">
        <label>Current Password</label>
        <input type="password" name="currentPassword" class="form-control" />
    </div>

    <div class="mb-3">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" />
    </div>

    <button class="btn btn-warning">Change Password</button>
</form>

