@model StudentProjectPortal.ViewModels.SupervisorEditProfileViewModel

<h2>Edit Profile</h2>

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Department</label>
        <select asp-for="DepartmentId"
                asp-items="@(new SelectList(Model.Departments, "Id", "Name"))"
                class="form-select">
        </select>
    </div>

    <div class="mb-3">
        <label>Profile Picture</label>
        <input type="file" asp-for="ProfileImage" class="form-control" />
    </div>

    <button class="btn btn-success">Save Changes</button>
</form>

